---
import { getTags } from '../../db/couchbase';
import RootLayout from "@/layouts/RootLayout.astro";
import Link from "@/components/Link.astro";

const tags = await getTags();
const formatSlug = (slug) => {
  const specialCases = {
    'AI': 'ai',
    'GitHub': 'github',
    'DevRel': 'devrel'
  };
  return specialCases[slug];
};
---

<RootLayout title="Tags">
  <div class="flex flex-col items-start justify-start divide-y divide-gray-200 dark:divide-gray-700 md:mt-24 md:flex-row md:items-center md:justify-center md:space-x-6 md:divide-y-0">
    <div class="space-x-2 pb-8 pt-6 md:space-y-5">
      <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:border-r-2 md:px-6 md:text-6xl md:leading-14">
        Tags
      </h1>
    </div>
    <div class="flex max-w-lg flex-wrap">
      {!tags.length && 'No tags found.'}
      {tags.map((tag) => (
        <div class="mb-2 mr-5 mt-2" key={tag.slug}>
          <Link href={`/tags/${formatSlug(tag.slug)}`} class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">
            {tag.name}
          </Link>
          <span class="text-sm font-semibold text-gray-600 dark:text-gray-300">
            ({tag.count})
          </span>
        </div>
      ))}
    </div>
  </div>
</RootLayout>