---
import Link from "@/components/Link.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="404 - Not Found">
    <div class="retro-container">
        <pre class="ascii-divider">
 /=======================\
 |    SYSTEM ERROR 404   |
 \=======================/
        </pre>
        
        <div class="flex flex-col md:flex-row items-center justify-center gap-8 p-8">
            <pre class="text-terminal-bright text-6xl md:text-8xl font-mono">
  _____   _____   _____  
 |     | |     | |     | 
 |  ___| |  _  | |  _  | 
 | |     | | | | | | | | 
 | |     | |_| | | |_| | 
 |_|     |_____| |_____| 
            </pre>
            
            <div class="space-y-4 text-center md:text-left">
                <p class="text-xl font-mono text-terminal-bright">
                    > ERROR: Page not found in database
                </p>
                <p class="font-mono text-terminal-dim">
                    > SUGGESTION: Check out the <Link href="/blog" class="retro-link">BLOG</Link>
                </p>
                <Link href="/" class="retro-button inline-block mt-4">
                    [RETURN_TO_HOME]
                </Link>
            </div>
        </div>
        
        <pre class="ascii-divider">
 =======================
 | SYSTEM MALFUNCTION  |
 =======================
        </pre>
    </div>
</RootLayout>

