---
import {getEntry} from "astro:content"
import RootLayout from "@/layouts/RootLayout.astro";
import {SITE_METADATA} from '@/consts';
import AuthorLayout from "@/layouts/AuthorLayout.astro";
import { ViewTransitions } from "astro:transitions";

---

<RootLayout title={SITE_METADATA.title} description={SITE_METADATA.description}>
    <div class="retro-container">
        <pre class="ascii-divider">
 /===============================\
 |         PROFILE DATA         |
 \===============================/
        </pre>
        <div class="max-w-7xl mx-auto px-4">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="prose">
                    <h2 class="text-terminal-bright">> INIT_INTRODUCTION</h2>
                    <div class="mt-4 text-white">
                        <p>LOCATION: Tel_Aviv < California</p>
                        <p>STATUS: Seasoned_Developer_Educator && Community_Builder</p>
                        <p>EXPERIENCE: Community_Building && Global_Operations</p>
                    </div>
                    
                    <h3 class="text-terminal-bright mt-8">> CURRENT_OPERATION</h3>
                    <p class="text-white">
                        ROLE: Principal_Consultant && Founder
                        <br/>ORGANIZATION: Yalla_DevRel_LLC
                        <br/>MISSION: Scale_DevRel_Programs()
                    </p>
                    
                    <h3 class="text-terminal-bright mt-8"> CONTACT_PROTOCOLS</h3>
                    <ul class="list-none p-0">
                        <li><a href="https://twitter.com/hummusonrails" class="retro-link">TWITTER::@hummusonrails</a></li>
                        <li><a href="https://linkedin.com/in/hummusonrails" class="retro-link">LINKEDIN::hummusonrails</a></li>
                        <li><a href="mailto:ben@yalladevrel.com" class="retro-link">EMAIL::ben@yalladevrel.com</a></li>
                    </ul>
                </div>
                <div>
                    <img class="border border-terminal-green" src="static/images/about_image.png" alt="Ben Greenberg">
                    <p class="text-terminal-dim mt-2 text-center">[SYSTEM_LOG: Ben presenting at Pluralsight]</p>
                </div>
            </div>
        </div>
    </div>
</RootLayout>

