---
import { SITE_METADATA, NAVIGATION } from '@/consts';
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
import MobileNav from "./MobileNav.astro";
---

<header class="border-b border-dark-border mb-8">
    <div class="section-container">
        <div class="flex items-center justify-between py-6">
            <a href="/" aria-label={SITE_METADATA.headerTitle} class="flex items-center gap-3 no-underline hover:opacity-80 transition-opacity">
                <Logo/>
                {typeof SITE_METADATA.headerTitle === 'string' ? (
                    <span class="hidden text-xl font-semibold sm:block">
                        {SITE_METADATA.headerTitle}
                    </span>
                ) : (
                    SITE_METADATA.headerTitle
                )}
            </a>
            
            <div class="flex items-center gap-6">
                <nav class="hidden md:flex gap-6 items-center">
                    {NAVIGATION
                        .filter((link) => link.href !== '/')
                        .map((link) => (
                            <a href={link.href} class="modern-link text-sm">
                                {link.title}
                            </a>
                        ))}
                </nav>

                <MobileNav/>
            </div>
        </div>
    </div>
</header>
