---
interface Props {
    title: string;
    description: string;
    github_link?: string;
    blog_link?: string;
}

const {title, description, github_link, blog_link} = Astro.props;
---

<li class="retro-container">
    <pre class="ascii-divider">
 /==================\
 | PROJECT DATABASE |
 \==================/
    </pre>
    
    <div class="p-4">
        <div class="flex items-center space-x-3">
            <h3 class="font-mono text-terminal-bright">> {title}</h3>
        </div>
        <p class="mt-2 font-mono text-terminal-dim">{description}</p>
    </div>
    
    <div class="border-t border-terminal-green">
        <div class="flex">
            <a href={github_link} target="_blank" class="flex-1 p-4 retro-link text-center border-r border-terminal-green">
                <pre class="inline-block mr-2">
[GIT]
                </pre>
                SOURCE_CODE
            </a>
            <a href={blog_link} target="_blank" class="flex-1 p-4 retro-link text-center">
                <pre class="inline-block mr-2">
{blog_link?.startsWith('https://dev.to') ? '[DEV]' : '[WWW]'}
                </pre>
                DOCUMENTATION
            </a>
        </div>
    </div>
</li>
