{% set relative_prefix = ".." %}

<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {%- if seo.title -%}
                {{ seo.title }}
            {%- else -%}
                Ben Greenberg | Developer Advocate
            {%- endif -%}
        </title>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
        {% include "meta.njk" %}
        <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_6rkVY4selTsUXWY1FqrleCwjqbX1mkm8eCIzBnDo3nh',{api_host:'http://174.138.125.11'})
        </script>
    </head>
    <body class="text-gray-900 leading-normal">
        <a href="#content" class="sr-only">skip to main content</a>
        <div role="document" class="min-h-screen flex flex-col">
            {% include "header.njk" %}
            <main class="flex-grow w-full p-4" id="content" tabindex="-1">
                {{ content | safe }}
            </main>
            {% include "footer.njk" %}
        </div>
        <script src="{{ '/assets/main.js' | url }}" defer="defer"></script>
        <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102303776-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-102303776-1');
        </script>

    </body>
</html>
