{% set relative_prefix = ".." %}

<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {%- if seo.title -%}
                {{ seo.title }}
            {%- else -%}
                Ben Greenberg | Developer Advocate
            {%- endif -%}
        </title>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
        {% include "meta.njk" %}
    </head>
    <body class="text-gray-900 leading-normal">
        <a href="#content" class="sr-only">skip to main content</a>
        <div role="document" class="min-h-screen flex flex-col">
            {% include "header.njk" %}
            <main class="flex-grow w-full p-4" id="content" tabindex="-1">
                {{ content | safe }}
            </main>
            {% include "footer.njk" %}
        </div>
        <script src="{{ '/assets/main.js' | url }}" defer="defer"></script>
        <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102303776-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-102303776-1');
        </script>

    </body>
</html>