---
layout: base
---

{% if canonical %}
  <link rel="canonical" href="{{ canonical }}" />
{% endif %}

<div class="prose max-w-5xl mx-auto shadow-lg py-12 px-8">
    {{ content | safe }}

    <script src="https://utteranc.es/client.js"
        repo="bencgreenberg/personal-site"
        issue-term="title"
        label="blog-discussion"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>
