---
layout: base
---

{% if canonical %}
  <link rel="canonical" href="{{ canonical }}" />
{% endif %}

<div class="prose max-w-5xl mx-auto shadow-lg py-12 px-8">
    {{ content | safe }}

    <div class="max-w-5xl mx-auto shadow-lg py-12 px-8 bg-gradient-to-r from-indigo-500 to-indigo-700 rounded-lg shadow-md">
        <div class="flex items-center justify-center">
            <p class="text-center text-white text-2xl md:text-3xl">
                ⭐ Was this blog post helpful? Consider sponsoring my work on GitHub to help me create more content like this! <span style="color: red;">❤️</span>
            </p>
        </div>
        <div class="mt-5 flex justify-center">
          <a href="https://github.com/sponsors/bencgreenberg" target="_new" class="text-decoration-none flex items-center justify-center px-10 py-3 border border-transparent text-base font-medium rounded-md text-indigo-500 bg-white hover:bg-indigo-200 md:py-4 md:text-lg md:px-12 transition duration-150 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" style="margin-right: 5px;"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495 1 .108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.604-.015 2.894-.015 3.285 0 .32.21.694.825.577C20.565 22.097 24 17.6 24 12.297c0-6.627-5.373-12-12-12"/></svg>
            Sponsor
          </a>
        </div>
    </div>

    <script src="https://utteranc.es/client.js"
        repo="bencgreenberg/blog-comments"
        issue-term="title"
        label="blog-discussion"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>
